# Gradle
.gradle/
build/
out/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
.classpath
.project
bin/
*.launch

# Fabric & Minecraft
run/
.gradle-loom-cache/

# Java & Logs
*.log
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# OS specific
.DS_Store