# Text Files
* text=auto

# Scripts
/gradlew        text eol=lf
*.sh            text eol=lf
*.py            text eol=lf

# Windows compatibility
*.bat           text eol=crlf

# Binary Files
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.ico           binary
*.jar           binary
*.so            binary
*.dll           binary

# UTF-8 Configs
*.json          text eol=lf
*.accesswidener text eol=lf